@import "../index.scss";

.card-item {
  position: relative;

  width: 18%;
  height: 422px;

  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  border-radius: 20px;

  padding: 31px 30px 28px 30px;

  .flex-space-between {
    margin-bottom: 16px;


  }

  .image-favorite {
    height: 15px;
    width: 16px;
    cursor: pointer;
  }

  .title {
    @extend %montserrat-400-16;
    line-height: 105%;

    margin-bottom: 16px;
  }

  .image {
    width: 100%;
    height: 149.6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin: auto;
  }

  ul {
    display: flex;

    @extend %montserrat-400-16;
    line-height: 20px;

    margin-bottom: 16px;

    div {
      width: 17px;
      height: 17px;
    }
  }

  .btn-white {
    width: 185px;
    height: 49px;
    position: absolute;
    bottom: 28px;

    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    color: transparent;
    background-clip: text;
    border-radius: 46px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &:active {
      background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
      color: white;
      border: none;

      svg {
        fill: white;
      }
    }

  }

}

.cardAction {
  margin: 0 auto;
  display: block;
}

@media(max-width: 1610px) {

  .card-item {
    width: 23%;
  }
}

@media(max-width: 1400px) {

  .card-item {
    width: 31%;
  }
}

@media(max-width: 1150px) {
  .card-item {
    width: 48%;
  }
}


@media(max-width: 890px) {
  .card-item {
    width: 100%;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
  }


  .card-item .flex-space-between {
    flex: none;
    width: 100%;
    height: 16px;
  }

  .card-item .image {
    flex: none;
    width: 30%;
    height: 149.6px;
    background-position: left;
    margin: 0;
  }

  .cardContent {
    width: 70%;
  }

  .cardAction {
    position: absolute;
    bottom: 25px;
    right: 30px;
  }


}

@media(max-width: 450px) {
  .card-item {
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
  }

}