* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


%montserrat-400-14 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

%montserrat-400-16 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

%montserrat-600-16 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background:
    rgba(250, 249, 249, 1);
}

p {
  color: #424242;
}

ul,
li {
  list-style: none;
}

img {
  pointer-events: none;
}

h1 {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;

  text-transform: uppercase;
  text-align: center;

  color: #424242;
  margin: 64px auto;
}

h2 {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  text-transform: uppercase;

  color: #424242;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  color: #424242;
}

h4 {
  @extend %montserrat-600-16;
  margin-bottom: 10px;
}

.custom-input {
  height: 50px;
  padding: 17px 24px 16px;
  outline: none;

  @extend %montserrat-400-14;

  color: #BDBDBD;

  border: 1px solid #BDBDBD;
  border-radius: 83px;
}

.custom-input::-webkit-input-placeholder {
  color: #BDBDBD;
}

.custom-input:-moz-placeholder {
  color: #BDBDBD;
}

.form_radio {
  height: 31px;
  margin-bottom: 8px;

  input[type=radio] {
    display: none;
  }

  label {
    height: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  label:before {
    content: "";
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 16px;
    background: url("./img/radio-off.svg") 0 0 no-repeat;
    background-size: contain;
  }

  input[type=radio]:checked+label:before {
    background: url("./img/radio-on.svg") 0 0 no-repeat;
    background-size: contain;
  }

  label:hover:before {
    filter: brightness(120%);
  }

  input[type=radio]:disabled+label:before {
    filter: grayscale(100%);
  }
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.upper-case {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.callout {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #525252;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
}


.btn-white {
  border: 1px solid #BDBDBD;
  border-radius: 46px;
  height: 38px;
  padding: 0px 16px;
  background-color: transparent;

  @extend %montserrat-400-14;

  color: #BDBDBD;

  cursor: pointer;

  img {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }

  svg {
    margin-right: 6px;
  }

  &:hover {
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    color: transparent;
    background-clip: text;
    border: 1px solid #CFA5A5;
  }

  &:active {
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    color: white;

    path {
      fill: white;
    }
  }

}

.btn-fill {
  height: 50px;
  padding-right: 44px;
  padding-left: 44px;
  color: #FFFFFF;
  border-radius: 50px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  text-transform: uppercase;
  @extend %montserrat-600-16;

  border: 1.79px solid transparent;

  cursor: pointer;

  &:hover {
    background: linear-gradient(102.48deg, #7B4646 -29.03%, #BF9191 97.75%);
  }

  &:active {
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    color: transparent;
    background-clip: text;
    border: 1.79px solid #CFA5A5;
  }
}

.slider-menu {
  position: relative;

  button {
    position: absolute;
    bottom: 20%;
    left: 53%;
  }
}

.switch-category {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;

  p {
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    color: #5E5C5A;
  }
}

.gradient-text {
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.universal-input {
  width: 195px;
  height: 50px;

  border: 1px solid #BDBDBD;
  border-radius: 46px;

  padding-right: 32px;
  padding-left: 32px;

  @extend %montserrat-400-14;

  color: #BDBDBD;
  background: inherit;

  &:active,
  &:focus {
    color: black;
    border: 1px solid #BDBDBD;
  }
}

.currentPage {
  margin-top: 64px;

  ul {
    display: flex;

    li {
      padding-right: 11px;
    }
  }
}

.delivery-context,
.contact-context,
.flex-left {
  display: flex;
  justify-content: left;

  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 25px;
  }

  h1 {
    margin-top: 48px;
    margin-bottom: 40px;
  }
}

.company-foto {
  max-width: 800px;
  width: 100%;
  height: 427px;
  line-height: 427px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  background: #C4C4C4;
  border-radius: 20px;

  margin-bottom: 32px;
  text-align: center;
}


.price {
  @extend %montserrat-600-16;
  line-height: 20px;

  span {
    @extend %montserrat-600-16;
  }


  .new-price {
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 14px;
  }

  .old-price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    text-decoration-line: line-through;

    color: #424242;
  }

}

.color-circle {
  border: 0.3px solid #252525;
  margin-right: 5px;
  border-radius: 50%;
  background-color: black;
}


.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 3px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: rgba(151, 100, 100, 1);
  background-image: url("./img/checkchecked-icon.svg");
  background-size: 10px 10px;
}

.panel-sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;

  .btn-white {
    margin-left: 15px;

    img {
      width: 10px;
      height: 12px;
      margin-right: 0;
      margin-left: 8px;
      top: 1px;
    }
  }

  .btn-white:last-child {

    img {
      transform: rotate(180deg);
    }
  }
}

@media(max-width: 1250px) {

  h1 {
    font-size: 26px;
    margin: 34px auto;
  }
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 26px;
  }

}

@media(max-width: 750px) {
  h1 {  
    font-size: 16px;

  }
  h2 {  
    font-size: 14px;

  }
  .switch-category {
    margin: 20px auto;

    p {
      font-size: 18px;
    }
  }
}

@media(max-width: 400px) {
  .switch-category {
    margin: 20px auto;

    p {
      font-size: 14px;
    }
  }
  .btn-fill {
    height: 40px;
    padding-right: 34px;
    padding-left: 34px;
   
    font-size: 14px;
  }
}